*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow: hidden;
}

.logo a{
    // height: 12px;
    // width: 100px;
    // overflow: hidden;
}
header{
    position: fixed;
    width: 100%;
}
.desktop{
    display: none;
}
@media (min-width: 1200px) {
    
    .desktop{
        display: initial;
    }
    .right{
        margin-left: ;
    }
}

.desktop{

    a{
        text-decoration: none;
        padding: 5px 10px;
        color: black;
    }
    
}
nav{
    .center{
        text-align: center;
    }
    
    a{
        text-decoration: none;
        padding: 5px 10px;
        color: black;
    }
    .right{
        text-align: right;
    }
    
}